/* Login.css */

/* Center the login form vertically and horizontally */
.logincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* Hide overflowing content */
}

.image-container {
    max-width: 40%;
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Remove extra space below the image */
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.loginform {
    width: 60%;
    /* Adjust the form width as needed */
}

.email,
.password {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    width : auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}